<!-- About -->
<section class="about d-flex align-items-center text-light py-5" id="about">
    <div class="container" >
        <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
                <p>A PROPOS DE NOUS</p>
                <h1> Nous offrons<br>d'excellents services</h1>
                <p class="py-2 para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sed accusantium aut dolores inventore architecto modi cupiditate eligendi corporis, illum illo culpa. Reiciendis, molestias. Illum voluptatum quisquam ad veritatis dolorem.</p>
                <p class="py-2 para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sed accusantium aut dolores inventore architecto modi cupiditate eligendi corporis, illum illo culpa. Reiciendis, molestias. Illum voluptatum quisquam ad veritatis dolorem.</p>

                
            </div>
            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                <img class="img-fluid" src="{{ url_for('static', filename='assets/images/about.jpg')}}" alt="about" >
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of about -->