<!-- Home -->
<section class="home py-5 d-flex align-items-center" id="header">
    <div class="container text-light py-5"  data-aos="fade-right"> 
        <h1 class="headline">Nous sommes <span class="home_text"><br> The Show Room</span></h1>
        <p class="para para-light py-3">Une entreprise spécialisée dans 3 domaines: La logistique maritime, l'ingénierie informatique et solutions de sécurité digitale et, l'alimentation industrielle et Agrobusiness</p>
        <!-- <div class="d-flex align-items-center">
            <p class="p-2"><i class="fas fa- fa-lg"></i></p>
            <p>Lorem ipsum dolor sit amet.</p>  
        </div>
        <div class="d-flex align-items-center">
            <p class="p-2"><i class="fas fa-database fa-lg"></i></p>
            <p>Lorem ipsum dolor sit amet.</p>  
        </div> -->
        <div class="my-3">
            <a class="btn" href="#plans">Plus de détails</a>
        </div>
    </div> <!-- end of container -->
</section> <!-- end of home -->