<!-- Newsletter -->
<section class="newsletter text-light py-5">
    <div class="container">
        <div class="row" >
            <div class="col-lg-6 text-center text-lg-start" data-aos="fade-right">
                <h4 class="py-1">Inscrivez vous à notre Newsletter</h4>
                <p class="para-light">Ajoutez votre email à notre newsletter pour être notifier de nos différentes activités</p>
            </div>
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-down">
                <div class="input-group my-3">
                    <input type="text" class="form-control p-2" placeholder="Entrez votre adresse email" aria-label="Recipient's email">
                    <button class="btn-secondary text-light" type="button">S'inscrire</button>
                </div>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of newsletter -->