<!-- Services -->
<section class="services d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="text-center pb-4" >
            <p>NOS SERVICES</p> 
            <h2 class="py-2">Explorez nos différents champs d'action</h2>
            <!-- <p class="para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.</p> -->
        </div>
        <div class="row gy-4 py-2" data-aos="zoom-in">

            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-keyboard fa-2x"></i>
                    <h4 class="py-2">DEVELOPPEMENT D'APPLICATIONS WEB</h4>
                </div>                    
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-mobile fa-2x"></i>
                    <h4 class="py-2">DEVELOPPEMENT D'APPLICATIONS MOBILES</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-transparent">
                    <i class="fas fa-cloud fa-2x"></i>
                    <h4 class="py-2">HEBERGEMENT ET DEPLOIEMENT EN LIGNE</h4>
                </div>
            </div>

            
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of services -->